# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.15

    working_directory: ~/repo

    steps:
      - run: echo "About to checkout project"
      - checkout
      - run: echo "Project checked out successfully"

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: echo "About to install npm dependencies"
      - run: npm install
      - run: echo "npm dependencies were successfully installed"
      - run: echo "About to install global dependencies"
      - run: sudo npm install --unsafe-perm -g now
      - run: echo "Global dependencies were successfully installed"

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  deploy-stage:
    machine: true
    steps:
      - run: echo "About to deploy staging env"
      - run: echo now -d -t "${NOW_TOKEN}" -A now-staging.json -T "ngvenezuela"
      - run: echo "Deployed to now server"

  deploy-prod:
    machine: true
    steps:
      - run: echo "About to deploy production env"
      - run: echo now -d -t "${NOW_TOKEN}" -T "ngvenezuela"
      - run: echo "Deployed to now server"

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-stage:
          requires:
            - build
          filters:
            branches:
              only: develop
      - deploy-prod:
          requires:
            - build
          filters:
            branches:
              only: master

